.ant-picker-date-panel .ant-picker-cell:not(.ant-picker-cell-in-view) .ant-picker-cell-inner {
    display: none;
}

.ant-picker-date-panel .ant-picker-cell:not(.ant-picker-cell-in-view) {
    pointer-events: none;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
    height: 150px;
}

.ant-picker-calendar-year-select {
    display: none;
}

.ant-picker-calendar-mode-switch {
    display: none;
}